.roundInteractiveSearch {
    position: absolute;
    width: 100%;
}

.roundInteractiveSearch__title {
    text-align: center;
    font-size: 35px;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 40vh;
    transition: opacity 1000ms ease-in-out;
}

.roundInteractiveSearch__title--show {
    opacity: 100%;
}

.roundInteractiveSearch__title--hide {
    opacity: 0%;
}

.roundInteractiveSearch__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 120px;
    transition: padding 1000ms ease-in-out;
    
}

.roundInteractiveSearch__body--beforeStart {
    padding-bottom: 45vh;
}

.roundInteractiveSearch__body--start {
    padding-bottom: 20px;
}

.roundInteractiveSearch__chatting {
    width: 850px;
    transition: opacity 1000ms ease-in-out;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roundInteractiveSearch__chattingWrap {
    width: 750px;
}

.roundInteractiveSearch__chatting::-webkit-scrollbar {
    display: none;
}

.roundInteractiveSearch__chatting--show {
    opacity: 100%;
    height: auto;
}

.roundInteractiveSearch__chatting--hide {
    opacity: 0;
    height: 0;
}

.roundInteractiveSearch__input {
    padding: 20px 30px;
    border-radius: 100px;
    box-sizing: border-box;
    width: 750px;
    transition: top 1000ms ease-in-out;
}

.roundInteractiveSearch__input--center {
    top: 50vh;
}

.roundInteractiveSearch__input--bottom {
    top: 87vh;
    margin-top: 20px;
}

.roundInteractiveSearch__input > form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.roundInteractiveSearch__input > form > input, .round__searchInput > form > input:focus {
    outline: none;
    border: none;
    font-size: 16px;
    background-color: transparent;
    width: 90%;
    height: 100%;
    box-sizing: border-box;
}