.roundInteractivePreprocessing {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 20px;
}

.roundInteractivePreprocessing__chatting {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: end;
}

.roundInteractivePreprocessing__chats {
    width: 600px;
    display: flex;
    justify-content: end;
    overflow-y: auto;
}

.roundInteractivePreprocessing__chats::-webkit-scrollbar {
    display: none;
}

.roundInteractivePreprocessing__chatsWrap {
    width: 500px;
    justify-self: right;
}

.roundInteractivePreprocessing__chatInput {
    width: 100%;
    padding: 20px 30px;
    border-radius: 100px;
    box-sizing: border-box;
    transition: top 1000ms ease-in-out;
}

.roundInteractivePreprocessing__chatInput > form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.roundInteractivePreprocessing__chatInput > form > input, .round__searchInput > form > input:focus {
    outline: none;
    border: none;
    font-size: 16px;
    background-color: transparent;
    width: 90%;
    height: 100%;
    box-sizing: border-box;
}

.roundInteractivePreprocessing__right {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-between;
}

.roundInteractivePreprocessing__preprocessProperties {
    width: 400px;
    height: 500px;
    border-radius: 15px;
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.roundInteractivePreprocessing__preprocessButton > .MuiButton-root {
    font-size: 20px;
    color: white;
    background-color: #88BAFF;
    border-radius: 15px;
    padding: 20px 40px;
    width: 100%;
}

.roundInteractivePreprocessing__propertyList {
    font-size: 20px;
}