.searchOpen {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    border-radius: 15px;
}

.searchOpen__header {
    display: flex;
    gap: 10px;
}

.searchOpen__datasets {
    display: flex;
    justify-content: space-around;
    overflow: auto;
}

.searchOpen__dataset {
    margin: 20px;
}