.round {
    position: relative;
}

.round__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 45px;
    background-color: transparent;
    position: absolute;
    width: 100vw;
    box-sizing: border-box;
}

.round__headerLogo > img {
    width: 40px;
    height: 40px;
}

.round__textLogo {
    display: flex;
    gap: 6px;
    align-items: center;
    position: relative;
    z-index: 1;
}

.round__textLogo > p {
    font-size: 35px;
}

.round__textLogo > img {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 23px;
}

.round__headerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.round__headerCenter > img {
    height: 25px;
    padding: 10px;
}

.round__headerCenter > p {
    font-size: 13px;
}

.round__headerUserIcon {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
}

.round__headerLogo, .round__headerUserIcon, .round__textLogoO, .round__headerCenterExplanation, .round__interactiveSearchTitle {
    transition: opacity 1000ms ease;
}

.round__headerUserIcon > p {
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.round__transparent {
    opacity: 0%;
}

.round__show {
    opacity: 100%;
}

.round__body {
    z-index: 0;
}

.round__previousPage:hover {
    cursor: pointer;
}

.round__nextPage:hover {
    cursor: pointer;
}

.round__interactiveSearchTitle {
    text-align: center;
    font-size: 35px;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 40vh;
}

.round__interactiveSearchChatting {
    position: absolute;
    width: 750px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 20vh;
    transition: opacity 1000ms ease-in-out;
}

.round__interactiveSearchChatting--show {
    opacity: 100%;
}

.round__interactiveSearchChatting--hide {
    opacity: 0;
}

.round__searchInput {
    padding: 20px 30px;
    border-radius: 100px;
    position: absolute;
    box-sizing: border-box;
    width: 750px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: top 1000ms ease-in-out;
}

.round__searchInputCenter {
    top: 50vh;
}

.round__searchInputBottom {
    top: 87vh;
}

.round__searchInput > form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.round__searchInput > form > input, .round__searchInput > form > input:focus {
    outline: none;
    border: none;
    font-size: 16px;
    background-color: transparent;
    width: 90%;
    height: 100%;
    box-sizing: border-box;
}

.round__datasetSelection {
    position: absolute;
    height: 100vh;
    top: 0;
    transition: transform 1000ms ease-in-out, width 1000ms ease-in-out, border-radius 1000ms ease-in-out, padding 1000ms ease-in-out;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    right: 0;
    z-index: 2;
    align-items: end;
}

.round__datasetSelection--show, .round__datasetSelection--expand {
    width: 55px;
    transform: scale(1, 1);
    transform-origin: right;
    gap: 15px;
    padding: 60px 15px 15px 15px;
}

.round__datasetSelection--hide {
    transform: scale(0, 1);
    transform-origin: right;
    border-radius: 15px 0 0 15px;
}

.round__datasetSelection--expand {
    width: 270px;
    border-radius: 15px 0 0 15px;
}

.round__datasetSelection--fullScreen {
    width: 100vw;
    border-radius: 0;
    padding: 15vh 15px 15px 15px;
    transform-origin: left;
}

.round__datasetSelection--hideLeft {
    transform: scale(0, 1);
}

.round__pageConvertArrows {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100vw;
    box-sizing: border-box;
    z-index: 3;
}

.round__previousPage {
    position: absolute;
    left: 15px;
    top: 15px;
    transition: opacity 100ms ease-in-out 1000ms;
    display: flex;
    gap: 5px;
}

.round__previousPage--show {
    opacity: 100%;
}

.round__previousPage--hide {
    opacity: 0%;
}

.round__nextPage {
    position: absolute;
    right: 15px;
    top: 15px;
    transition: opacity 100ms ease-in-out 1000ms;
    display: flex;
    gap: 5px;
}

.round__nextPage--show {
    opacity: 100%;
}

.round__nextPage--hide {
    opacity: 0%;
}

.round__interactivePreprocessing {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    transform-origin: right;
    transition: transform 1000ms ease-in-out;
}

.round__interactivePreprocessing--show {
    transform: scale(1, 1);
}

.round__interactivePreprocessing--hide {
    transform: scale(0, 1);
}