.roundChats {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.roundChat {
    padding: 10px 20px;
    border-radius: 15px;
    max-width: 80%;
}

.roundChat > p {
    text-align: justify;
}

.roundUserChat {
    align-self: end;
}

.roundAssistantChat {
    display: flex;
    position: relative;
    align-self: flex-start;
}

.roundAssistantChat > img {
    position: absolute;
    width: 30px;
    height: 30px;
    left: -40px;
    top: 5px;
}

.roundSearchChat {
    position: relative;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.roundSearchChat > img {
    position: absolute;
    width: 30px;
    height: 30px;
    left: -40px;
    top: 5px;
}

.roundSearchChat__datasets {
    display: flex;
    justify-content: space-around;
    overflow: auto;
}

.roundSearchChat__datasets::-webkit-scrollbar {
    display: none;
}

.roundSearchChat__dataset {
    margin: 20px;
}

.roundSearchChat__dataset:hover {
    cursor: pointer;
}