/* set defaults */
* {
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar {
  display: none;
}

p {
  color: white;

  /* poppins-regular font */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  display: block;
}

:root, html {
  box-sizing: border-box;
  background-color: #262626;
}

/* font immports */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* colors */
.base1_color {
  color: white;
}

.base1_background {
  background-color: white;
}

.base2_color {
  color: #262626;
}

.base2_background {
  background-color: #262626;
}

.base3_color {
  color: #323232;
}

.base3_background {
  background-color: #323232;
}

.base4_color {
  color: #5B5B5B;
}

.base4_background {
  background-color: #5B5B5B;
}

.point2_color {
  color: #88BAFF;
}

.point2_background {
  background-color: #88BAFF;
}

.point1_color {
  color: #6F97CD;
}

.point1_background {
  background-color: #6F97CD;
}