.RoundDatasetSelection {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 100%;
}

.RoundDatasetSelection::-webkit-scrollbar {
    display: none;
}

.RoundDatasetSelection__history {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    align-items: center;
    width: 100%;
    transition: height 1000ms ease-in-out;
}

.RoundDatasetSelection__history--smallScreen {
    height: 90vh;
}

.RoundDatasetSelection__history--fullScreen {
    height: 60vh;
}

.RoundDatasetSelection__history::-webkit-scrollbar {
    display: none;
}

.RoundDatasetSelection__historyElement {
    transition: width 1000ms ease-in-out;
}

.RoundDatasetSelection__historyElement--smallScreen {
    width: 240px;
}

.RoundDatasetSelection__historyElement--fullScreen {
    width: 750px;
}

.RoundDatasetSelection__selections {
    display: flex;
    gap: 10px;
    overflow: auto;
    align-items: center;
    transition: height 1000ms ease-in-out, width 1000ms ease-in-out;
    max-width: 750px;
}

.RoundDatasetSelection__selections::-webkit-scrollbar {
    display: none;
}

.RoundDatasetSelection__selections--smallScreen {
    height: 0;
    width: 240px;
}

.RoundDatasetSelection__selections--fullScreen {
    height: 15vh;
    width: 750px;
}